{#
 # Available variables:
 # - card__heading - the content of the title component.
 # - card__heading__link - (optional) the url the title should link to. Defaults to card__link__url.
 # - card__heading__link_base_class - base class to add to the title link - defaults to 'title-link'.
 #
 # - card__subheading - the content of the subtitle component.
 # - card__subheading__link - (optional) the url the subtitle should link to.
 #
 # - card__body - the content of the body component.
 #
 # - card__link__text - the content of the link component.
 # - card__link__url - the url the link should link to.
 #
 # - card__button__content - the content of the button component.
 #}
{% set card__base_class = 'card' %}

<div {{ bem(card__base_class, card__modifiers, card__blockname, card__extra_classes) }}>
  {# Image #}
  {% block card__img %}
    {% if card__image__src %}
      {% include "@atoms/images/image/responsive-image.twig" with {
        image_blockname: card__base_class,
        output_image_tag: card__image__output_image_tag,
        image_src: card__image__src,
        image_alt: card__image__alt,
      } %}
    {% endif %}
  {% endblock %}
  {# Content #}
  <div {{ bem('content', card__content__modifiers, card__base_class) }}>
    {# Heading #}
    {% if card__heading %}
      {{ title_prefix }}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_base_class: card__heading__base_class|default('heading'),
        heading_modifiers: card__heading__modifiers,
        heading_blockname: card__base_class,
        heading_level: 2,
        heading: card__heading,
        heading_url: card__heading__link|default(card__link__url),
        heading_link_base_class: card__heading__link_base_class|default('heading-link'),
        heading_link_blockname: card__base_class,
      } %}
      {{ title_suffix }}
    {% endif %}
    {# Subheading #}
    {% if card__subheading %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_base_class: card__subheading__base_class|default('subheading'),
        heading_modifiers: card__subheading__modifiers,
        heading_blockname: card__base_class,
        heading_level: 3,
        heading: card__subheading,
        heading_url: card__subheading__link,
      } %}
    {% endif %}
    {# Body #}
    {% if card__body %}
      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_base_class: card__body__base_class|default('body'),
        paragraph_modifiers: card__body__modifiers,
        paragraph_blockname: card__base_class,
        paragraph_content: card__body,
      } %}
    {% endif %}
    {# Link #}
    {% if card__link__url %}
      {% include "@atoms/links/link/link.twig" with {
        link_base_class: card__link__base_class|default('link'),
        link_blockname: card__base_class,
        link_attributes: card__link__attributes,
        link_content: card__link__text,
        link_url: card__link__url,
      } %}
    {# Button #}
    {% elseif card__button__content %}
      {% include "@atoms/buttons/button.twig" with {
        button_content: card__button__content,
      } %}
    {% endif %}
  </div>
</div>
