@use "../../../00-base/00-defaults/01-variables" as *;
@use "../../../00-base/00-defaults/03-mixins" as *;
@use "../../../00-base/01-colors/colors" as *;

.form-item {
  color: clr(text);
  margin-bottom: $space;
  max-width: 32rem;

  @include clearfix;
}

.form-item__label {
  display: block;
  font-weight: 600;
  padding: 0.6rem 0;
}

.form-item__textfield {
  border: 1px solid clr(accent);
  padding: 0.6rem;
  max-width: 100%;

  &:focus {
    border-color: clr(accent, bright);
  }

  &::placeholder {
    color: clr(text);
  }
}

.form-item__description {
  margin-top: 0.3rem;
}

.form-fieldset {
  border: none;
  margin-bottom: $space-double;
  padding: 0;

  .form-item {
    margin-left: $space;
    max-width: 31rem;
  }
}
