@use "../../../00-base/00-defaults/01-variables" as *;
@use "../../../00-base/01-colors/colors" as *;

// Storybook styling
.icons-demo {
  display: flex;
  flex-wrap: wrap;

  .icon {
    height: 100px;
    padding: $space;
    width: 100px;

    @media (prefers-color-scheme: dark) {
      fill: clr(accent, bright);
    }
  }

  pre {
    background-color: clr(neutral);
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
  }
}

.icons-demo__item {
  border: 1px solid clr(neutral);
  margin: $space-one-fourth;
}
