@mixin link {
  color: clr(primary);

  &:hover {
    color: clr(primary-alt);
  }
}

.link {
  @include link;
}

a {
  @include link;

  /* A elements that don't have a class get default styles */
  &:not([class]) {
    text-decoration-skip-ink: auto;
  }
}
