html {
  box-sizing: border-box;
}

body {
  background-color: clr(background);
  color: clr(text);

  @include body-copy;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  display: block; /* Fix for IE weirdness */
}

[class*='__inner'] {
  width: var(--component-width);
  max-width: 100%;
  margin-inline: auto;

  @each $width, $value in $breakpoints {
    [data-component-width='#{$width}'] & {
      --component-width: var(--size-component-layout-width-#{$width});
    }
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
