{#
 # Available variables:
 # - button__content: the content of the button (typically text)
 # - button__variation: primary (default), secondary, or tertiary
 # - button__size: small, medium (default), or large
 #
 # Available blocks:
 # - button__content: used to replace the content of the button with something other than text
 #   for example: to insert an icon
 #}

{% set button__base_class = button__base_class|default('button') %}

{% set additional__attributes = {
  'data-button-size': button__size|default('medium'),
  'data-button-variation': button__variation|default('primary'),
  class: bem(button__base_class, button__modifiers, button__blockname),
} %}

<button {{ add_attributes(additional__attributes) }}>
  {% block button__content %}
    {{ button__content }}
  {% endblock %}
</button>
