@use "../../00-base/00-defaults/01-variables" as *;
@use "../../00-base/00-defaults/02-breakpoints" as *;
@use "../../00-base/00-defaults/03-mixins" as *;
@use "../../00-base/01-colors/colors" as *;

/* Tab Navigation */
.tabs__nav {
  @include list-reset;

  border-bottom: 1px solid clr(highlight, bright);

  @include breakpoint("large") {
    border-left: 1px solid clr(highlight, bright);
    display: flex;
  }
}

/* Tab Content (hidden only in full #tabs js version) */
.tabs__tab {
  display: none;

  &.is-active {
    display: block;
  }
}

.tabs__content {
  padding: 1.5rem;
}

/* No-js fallback */
.tabs.no-js {
  .tabs__tab.is-active {
    display: block;
  }
}

/* Drupal Local Tasks variant */
.tabs__nav--local-tasks {
  margin: $space 0 $space-one-half;
  padding: 0;
}

.tabs__link--local-tasks {
  padding: $space-one-third $space + $space-one-half;
}
