@use "../../00-base/01-colors/colors" as *;

// Variables
$tooltip-icon-size: 1.25rem;
$tooltip-content-maxwidth: 18.5rem;
$tooltip-arrow-size: 0.5rem;

.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tooltip__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $tooltip-icon-size;
  height: $tooltip-icon-size;
  border: 1px solid clr(text);
  border-radius: 50%;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
  text-indent: 1px;
  background: none;
  color: clr(text);
  cursor: pointer;

  &:focus-visible {
    outline-offset: 0.5rem;
  }
}

.tooltip__content {
  visibility: hidden;
  position: absolute;
  padding: 1rem;
  min-width: 12.5rem;
  max-width: 18.5rem;
  border-radius: 0.15rem;
  font-size: 0.875rem;
  background-color: clr(accent);
  color: clr(text, inverse);
  overflow-wrap: break-word;
  box-shadow: 0 0.125rem 0.375rem rgb(0 0 0 / 30%);
  z-index: 11;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
  }

  &[data-direction="top"] {
    transform: translateY(calc(-100% - 1rem));

    &::before {
      top: calc(100% - 1px);
      left: calc(50% - $tooltip-arrow-size);
      border-left: $tooltip-arrow-size solid transparent;
      border-right: $tooltip-arrow-size solid transparent;
      border-top: $tooltip-arrow-size solid clr(accent);
    }
  }

  &[data-direction="right"] {
    transform: translate(
      calc((#{$tooltip-content-maxwidth} / 2) + ($tooltip-icon-size * 1.5)),
      -50%
    );

    &::before {
      top: 50%;
      right: calc(100% - 1px);
      border-top: $tooltip-arrow-size solid transparent;
      border-bottom: $tooltip-arrow-size solid transparent;
      border-right: $tooltip-arrow-size solid clr(accent);
    }
  }

  &[data-direction="bottom"] {
    margin-top: 2.2rem;

    &::before {
      top: -$tooltip-arrow-size;
      left: calc(50% - $tooltip-arrow-size);
      border-left: $tooltip-arrow-size solid transparent;
      border-right: $tooltip-arrow-size solid transparent;
      border-bottom: $tooltip-arrow-size solid clr(accent);
    }
  }

  &[data-direction="left"] {
    transform: translate(
      calc((#{-$tooltip-content-maxwidth} / 2) - ($tooltip-icon-size * 1.5)),
      -50%
    );

    &::before {
      top: 50%;
      left: calc(100% - 1px);
      border-top: $tooltip-arrow-size solid transparent;
      border-bottom: $tooltip-arrow-size solid transparent;
      border-left: $tooltip-arrow-size solid clr(accent);
    }
  }
}

.tooltip__content--visible {
  visibility: visible;
}
