@mixin grid {
  @include space-stack-page;

  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-gutter, var(--gutter));

  & > * {
    flex: 1 1 100%;

    @include breakpoint($medium) {
      flex-basis: 30%;
    }
  }
}

.grid {
  @include grid;
}

.grid-example {
  /* This is just for the component library example */
  background-color: clr(highlight-high);
  padding: $space-quadruple;
}
