{#
/**
 * Available variables:
 * - video__base_class - the base classname
 * - video_content - the content of the video (typically an iframe)
 *   the "|raw" filter is applied so that the iframe is rendered instead
 *   of simply passing the iframe as plain text.
 *
 * Available blocks:
 * - video_content - used to replace the content of the video with something other than the typical iframe
 *   for example: to insert an html5 video component
 */
#}
<div {{ bem('wrap', [], video__base_class) }}>
{% block video_content %}
  {{ video_content|raw }}
{% endblock %}
</div>
