{#
/**
 * Available variables:
 * - video__base_class - the base classname
 * - video__modifiers - array of modifiers to add to the base classname
 *   by default, videos are expected to be 16x9, include the modifier "full" to support a 4x3 video
 * - video__blockname - blockname prepended to the base classname
 * - video_content - the content of the video (typically an iframe)
 *   the "|raw" filter is applied so that the iframe is rendered instead
 *   of simply passing the iframe as plain text.
 *
 * Available blocks:
 * - video_content - used to replace the content of the video with something other than the typical iframe
 *   for example: to insert an html5 video component
 */
#}
{% set video__base_class = video__base_class|default('video') %}
{% set video__type = video__type|default('embed') %}
{% set video__urls = video__urls|default([]) %}
{% set video__attributes = video__attributes|default([]) %}

{% set video__attributes = video__attributes|merge({
  'class': bem(video__base_class, video__modifiers, video__blockname),
}) %}

<div {{ add_attributes(video__attributes) }}>
  {% if video__type == 'embed' %}
    {% include "@atoms/videos/_video-embed.twig" %}
  {% endif %}
  {% if video__type == 'html5' %}
    {% include "@atoms/videos/_video-html5.twig" %}
  {% endif %}
</div>
