.menu {
  // Set flex for only top level.
  [class$='__menu-list'] {
    display: flex;
  }

  // Reset list styles.
  [class*='__menu-list'] {
    @include list-reset;
  }

  &:not([aria-expanded='true']) {
    // Set flex for only top level.
    [class$='__menu-list'] {
      display: none;

      @include large {
        display: flex;
      }
    }
  }

  [class*='menu-list--sub']:not(.sub--open) {
    display: none;

    @include large {
      display: block;
    }
  }

  [class*='__toggle'] {
    @include large {
      display: none;
    }
  }
}
