{% if not item_modifiers %}
  {% set item_modifiers = [] %}
{% endif %}

{# Pass original item modifiers down to children #}
{% set original_item_modifiers = item_modifiers %}
{% if item.in_active_trail == TRUE %}
  {% set item_modifiers = item_modifiers|merge(['active']) %}
{% endif %}
{% if menu_level > 0 %}
  {% set item_modifiers = item_modifiers|merge(['sub', 'sub-' ~ menu_level]) %}
{% endif %}
{% if item.below %}
  {% set item_modifiers = item_modifiers|merge(['with-sub']) %}
{% endif %}
{% for modifier in item.modifiers %}
  {% set item_modifiers = item_modifiers|merge([modifier]) %}
{% endfor %}

{% set list_item_label = item_label %}
{% set li_base_class = item_base_class|default(menu_base_class ~ '__item') %}
{% set li_modifiers = item_modifiers %}
{% set li_blockname = item_blockname %}
{% set item_base_class = menu_blockname ~ '__link' %}

{% set item_attributes = item_attributes|default({
  'title': item.title,
  }) %}

{% import "@molecules/menu/menu.twig" as menus %}
{% block menu_item_content %}{% endblock %}
{% extends "@atoms/lists/_list-item.twig" %}
{% block list_item_content %}
  {% if item.below %}
    {% if menu_level == 0 and mobile_nav == true %}
      <span class="expand-sub"></span>
    {% endif %}
    {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_class, menu_modifiers, menu_blockname, item_base_class, original_item_modifiers, item_blockname, directory, mobile_nav) }}
  {% endif %}
{% endblock %}
