@use "../00-defaults/01-variables" as *;
@use "../01-colors/colors" as *;

/* Mixin - Transition */
$transition-duration-base: 0.3s;
$transition-timing-function-base: ease-in-out;

@mixin transition(
  $transition-property: all,
  $transition-duration: $transition-duration-base,
  $transition-timing-function: $transition-timing-function-base
) {
  transition: $transition-property $transition-duration
    $transition-timing-function;
}

// Demo UI
.motion {
  padding: 0 $space;
}

.motion__grid {
  @media (min-width: 920px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.motion__grid-item {
  @media (min-width: 920px) {
    margin-bottom: $space;
    margin-right: $space;
    width: 49%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.demo-motion {
  background-color: clr(highlight, bright);
  border-radius: 2px;
  cursor: pointer;
  padding: $space-triple;
  text-align: center;

  &::before {
    content: "Duration: #{$transition-duration-base}";
    display: block;
  }

  &::after {
    content: "Timing Function: #{$transition-timing-function-base}";
  }

  span {
    display: block;
    margin: 0.25rem;
  }
}

.demo-motion--fade {
  @include transition;

  &:hover {
    background-color: clr(accent, bright);
    color: clr(neutral);
  }
}

.demo-motion--slide-up {
  @include transition(transform, 0.4s, ease-in);

  &::before {
    content: "Duration: 0.4s";
    display: block;
  }

  &::after {
    content: "Timing Function: ease-in";
  }

  &:hover {
    transform: translateY(-10px);
  }
}

.demo-motion--slide-down {
  @include transition(transform, 0.2s, linear);

  &::before {
    content: "Duration: 0.2s";
    display: block;
  }

  &::after {
    content: "Timing Function: linear";
  }

  &:hover {
    transform: translateY(10px);
  }
}

.demo-motion--expand {
  @include transition(transform, 0.3s, cubic-bezier(0.17, 0.67, 0.83, 0.67));

  &::before {
    content: "Duration: 0.3s";
    display: block;
  }

  &::after {
    content: "Timing Function: cubic-bezier(.17,.67,.83,.67)";
  }

  &:hover {
    transform: scale(1.03);
  }
}
