.breadcrumb-menu {
  &__menu-item {
    display: inline-block;
    font-size: 0.75rem;
    margin: 0 $space-one-half 0 0;

    &::after {
      content: '/';
    }

    &:last-child {
      color: clr(text);

      &::after {
        content: '';
      }
    }
  }

  &__link {
    @include link;

    padding: 0 $space-one-half 0 0;

    &.active,
    &:active,
    &:hover,
    &:focus,
    &:focus-within,
    .active > &,
    :active > &,
    :hover > &,
    :focus > &,
    :focus-within > & {
      color: clr(highlight-high);
    }
  }
}
