$color-breadcrumb: clr(accent);
$color-breadcrumb-hover: clr(accent-high);
$color-breadcrumb-active: clr(text);

.breadcrumb {
  &__item,
  &__link,
  &__link:link,
  &__link:visited,
  &__link:focus {
    color: $color-breadcrumb;
    text-decoration: none;
  }

  &__link:hover {
    color: $color-breadcrumb-hover;
  }

  &__item {
    display: inline-block;
    font-size: 0.75rem;

    &::after {
      content: '/';
    }

    &:last-child {
      color: $color-breadcrumb-active;

      &::after {
        content: '';
      }
    }
  }

  &_link:active {
    color: $color-breadcrumb-active;
  }
}
