.disclosure {
  position: relative;

  &[data-component-layout='stacked'] {
    display: flex;
    flex-flow: column nowrap;
  }

  &[data-component-layout='stacked'][data-alignment='center'] {
    text-align: center;
  }

  &[data-component-layout='stacked'][data-alignment='right'] {
    text-align: right;
  }

  &[data-component-layout='tooltip'] {
    display: inline;
    transform: scale(1);
  }

  &__summary {

    [data-component-layout='stacked'] & {
      padding: $space;
    }
  }

  &__content {

    [data-component-layout='stacked'] & {
      padding: $space;
    }

    [data-component-layout='tooltip'] & {
      display: table;
      position: fixed;
      top: 100%;
      transform: translateY(-10%) translateX(0%);
      transition: transform 300ms, opacity 300ms;
      width: auto;
      min-width: $space * 20;
      max-width: 100vw;
      padding: $space;
      border-radius: $space / 2;
      background: clr(background);
      color: clr(text);
      opacity: 0;
    }

    [data-component-layout='tooltip'][open] & {
      opacity: 1;
      transform: translateY(0%);
    }

    [data-component-layout='tooltip'][data-alignment='left'][open] & {
      transform: translateY(0%) translateX(0%);
    }

    [data-component-layout='tooltip'][data-alignment='center'][open] & {
      transform: translateY(0%) translateX(-25%);
    }

    [data-component-layout='tooltip'][data-alignment='right'][open] & {
      right: 0;
      transform: translateY(0%) translateX(0%);
    }

    [data-component-layout='stacked'][data-alignment='center'] & {
      text-align: center;
    }

    [data-component-layout='stacked'][data-alignment='right'] & {
      text-align: right;
    }

    [data-component-layout='stacked'][data-position='top'] & {
      order: -1;
    }
  }
}
