.disclosure {
  position: relative;

  [class$='__summary'] {
    cursor: pointer;
  }

  [class$='__content'] {
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
  }

  &[open] {
    [class$='__content'] {
      opacity: 1;
    }
  }
}
