.footer {
  background-color: clr(highlight-high);
  padding: $space 0;

  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;

    @include large {
      flex-direction: row;
    }
  }
}

.footer__menu {
  @include large {
    flex: 1 1 100%;
    margin-left: auto;
  }
}
