/*
 * Generic header styles:
 * All arguments are optional. If not defined, the defaults below will be used
*/

$color-heading: clr(accent);

@mixin heading-xl(
  $font-family: $font-heading,
  $font-size: 2rem,
  $line-height: 1.4,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 700,
  $margin: 0 0 0.5em
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-large(
  $font-family: $font-heading,
  $font-size: 1.8rem,
  $line-height: 1.4,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 700,
  $margin: 0 0 0.5em
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-medium(
  $font-family: $font-heading,
  $font-size: 1.4rem,
  $line-height: 1.6,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 700,
  $margin: 0 0 0.5em
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-small(
  $font-family: $font-heading,
  $font-size: 1.2rem,
  $line-height: 1.6,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-xs(
  $font-family: $font-heading,
  $font-size: 1.1rem,
  $line-height: 2,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}
