.h1 {
  @include heading-xl;
}

.h2 {
  @include heading-large;
}

.h3 {
  @include heading-medium;
}

.h4 {
  @include heading-small;
}

.h5,
.h6 {
  @include heading-xs;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }

  h4 {
    @extend .h4;
  }

  h5 {
    @extend .h5;
  }

  h6 {
    @extend .h6;
  }
}
