/* NAV */
.main-menu {
  position: relative;
}

/* UL */
.main-menu__menu-list {
  @include list-reset;

  &--sub {
    width: 100%;
  }

  &--sub-1 {
    position: relative;

    @include large {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: all 200ms;

      .main-menu__menu-item.active &,
      .main-menu__menu-item:active &,
      .main-menu__menu-item:hover &,
      .main-menu__menu-item:focus &,
      .main-menu__menu-item:focus-within & {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
