/* LI */
.main-menu__item {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include medium {
    display: inline-block;

    /* Only top level */
    &:not(&--sub):hover {
      transition: all 0.2s;

      & > .main-menu--sub {
        display: block;
      }
    }
  }

  &--sub {
    @include medium {
      display: block;
    }
  }
}
