/* A */
.main-menu__link {
  color: clr(text);
  display: block;
  padding: $space $space-triple $space $space-double;
  font-weight: bold;

  @include medium {
    display: inline-block;
    position: relative;
    padding: $space;
    width: auto;

    &.active,
    &:active,
    &:hover,
    &:focus,
    &:focus-within,
    .active > &,
    :active > &,
    :hover > &,
    :focus > &,
    :focus-within > & {
      color: clr(highlight-high);
    }
  }

  /*
 * Sub Navigation Links
 */
  &--sub {
    padding-left: $space-triple;
    font-weight: normal;

    @include medium {
      display: block;
      padding: $space-one-third $space;
    }
  }

  &--sub-2 {
    padding-left: $space-double;
  }
}
