/* Toggle */
.main-menu__toggle {
  @include link;

  display: inline-block;
  padding: $space-one-half;
  text-decoration: none;
  width: 100%;
  background-color: clr(background-section);
  cursor: pointer;

  /* See main-menu.js */
  &[aria-expanded='true'] {
    background-color: clr(accent);
    color: clr(text-inverse);
  }
}
