/* Menu media */
$main-menu-mobile: $medium-max;
$main-menu-desktop: $medium;

/* Nav */
.main-nav {
  @include breakpoint($main-menu-mobile) {
    display: none;
  }

  &--open {
    background-color: clr(background);
    display: block;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    top: 134px;
    right: 0;
    width: 100%;
  }
}

/* UL */
.main-menu {
  @include list-reset;

  position: relative;
  z-index: 10;

  @include breakpoint($main-menu-mobile) {
    border-bottom: 1px solid;
  }
}

/*
 * Sub Navigation
 */

/* UL (Nested) */
.main-menu--sub {
  border-bottom: none;
  height: 0;
  overflow: hidden;
  background-color: clr(muted);
  width: 100%;

  @include breakpoint($main-menu-desktop) {
    display: none;
    height: auto;
    left: 0;
    overflow: visible;
    padding: $space 0;
    position: absolute;
    top: 55px;
    width: 315px;
    z-index: 1;
    font-size: 0.9rem;
    // opacity: 0.6;
  }

  /* See main-menu.js */
  &-open {
    height: auto;
  }
}

.main-menu--sub-2 {
  @include breakpoint($main-menu-desktop) {
    display: none; /* Never shown on large screens */
  }
}
