/* LI */
.main-menu__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid;

  @include medium {
    display: inline-block;
    border-top: none;

    /* Only top level */
    &:not(.main-menu__item--sub):focus-within,
    &:not(.main-menu__item--sub):hover {
      background-color: clr(accent-high);
      color: clr(highlight-high);

      > .main-menu__link {
        color: clr(highlight);

        &:hover,
        &:focus {
          color: clr(highlight-high);
        }
      }

      & > .main-menu--sub {
        display: block;
      }
    }
  }
}

/* Expand Button */
.expand-sub {
  position: relative;
  display: block;
  width: 20%;
  background-color: clr(accent-high);
  color: clr(text-inverse);
  cursor: pointer;

  @include medium {
    display: none;
  }

  /* Down triangle */
  &::after {
    position: absolute;
    right: 50%;
    top: 50%;
    content: '';
    display: block;
    margin-right: -12px;
    margin-top: -6px;
    width: 0;
    border: 15px solid;
    border-bottom-color: transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* See main-menu.js */
  &--open {
    background-color: clr(accent-high);
    color: clr(muted);

    &::after {
      margin-top: -20px;
      border-top-color: transparent;
      border-bottom: 15px solid;
    }
  }
}

/*
 * Sub Navigation
 */

/* LI (Nested) */
.main-menu__item--sub {
  @include medium {
    display: block;

    &:not(:first-child) {
      border-top: 1px solid clr(highlight);
    }
  }
}
