@use "../../../00-base/00-defaults/01-variables" as *;
@use "../../../00-base/00-defaults/02-breakpoints" as *;
@use "../../../00-base/01-colors/colors" as *;

/* A */
.main-menu__link {
  display: block;
  padding: $space $space-triple $space $space-double;
  color: clr(accent);
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;

  &--with-sub {
    width: 80%;
  }

  &:focus,
  &:hover {
    color: clr(text);

    @include breakpoint("medium") {
      background-color: clr(accent, bright);
      color: clr(highlight, bright);
    }
  }

  @include breakpoint("medium") {
    position: relative;
    display: inline-block;
    padding: $space;
    width: auto;
    border-bottom: none;
    font-size: 1.1rem;
    text-transform: none;

    &::after {
      display: inline-block;
      content: ">";
      margin-left: $space-one-half;
    }

    &--sub::after {
      display: none;
    }
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  padding-left: $space-triple;
  color: clr(accent);
  font-weight: normal;

  @include breakpoint("medium") {
    display: block;
    padding: $space-one-third $space;
    color: clr(highlight);
  }
}

.main-menu--sub-2 {
  background-color: clr(highlight, bright);
}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
