/* A */
.main-menu__link {
  display: block;
  padding: $space $space-triple $space $space-double;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: bold;
  text-decoration: none;
  color: clr(primary);

  &--with-sub {
    width: 80%;
  }

  @include breakpoint($main-menu-desktop) {
    border-bottom: none;
    display: inline-block;
    font-size: 1.1rem;
    padding: $space;
    text-transform: none;
    position: relative;
    width: auto;

    &::after {
      display: inline-block;
      content: '>';
      margin-left: 0.5rem;
    }

    &--sub::after {
      display: none;
    }
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  padding-left: $space-triple;
  font-weight: normal;

  @include breakpoint($main-menu-desktop) {
    display: block;
    padding: $space-one-third $space;
  }
}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
