/* A */
.main-menu__link {
  display: block;
  padding: $space $space-triple $space $space-double;
  color: clr(accent);
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;

  &--with-sub {
    width: 80%;
  }

  &:focus,
  &:hover {
    color: clr(text);

    @include medium {
      background-color: clr(accent-high);
      color: clr(highlight-high);
    }
  }

  @include medium {
    position: relative;
    display: inline-block;
    padding: $space;
    width: auto;
    border-bottom: none;
    font-size: 1.1rem;
    text-transform: none;

    &::after {
      display: inline-block;
      content: '>';
      margin-left: 0.5rem;
    }

    &--sub::after {
      display: none;
    }
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  padding-left: $space-triple;
  color: clr(accent);
  font-weight: normal;

  @include medium {
    display: block;
    padding: $space-one-third $space;
    color: clr(highlight);
  }
}

.main-menu--sub-2 {
  background-color: clr(highlight-high);
}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
