@use "../../../00-base/00-defaults/01-variables" as *;
@use "../../../00-base/00-defaults/02-breakpoints" as *;
@use "../../../00-base/00-defaults/03-mixins" as *;
@use "../../../00-base/01-colors/colors" as *;
@use "../../../01-atoms/links/link/link" as *;

.inline-menu {
  @include list-reset;
}

.inline-menu__item {
  margin: 0 $space $space-one-half 0;

  @include breakpoint("large") {
    display: inline;
    margin-bottom: $space;
  }

  &:last-child {
    margin-right: 0;
  }
}

.inline-menu__link {
  @include link;

  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
}
