{#
 # Available Variables:
 # - accordion__item__heading
 # - accordion__item__heading__level (passed down by `accordion.twig`)
 #
 # Available Blocks:
 # - accordion__item__content
 #}

{% set accordion__item__base_class = 'accordion-item' %}

{% set accordion__item__attributes = {
  'data-accordion-expanded': 'true',
  'class': bem(accordion__item__base_class),
} %}

{% set accordion__item__cta__content %}
  {{ accordion__item__heading }}
  {% include "@atoms/images/icons/_icon.twig" with {
    icon__name: 'angle-down',
    icon__blockname: accordion__item__base_class,
    icon__decorative: true,
  } %}
{% endset %}

{% set accordion__item__heading__content %}
  {# @TODO: This (and other places a `<button>` element is used) doesn't need
   # any of the extra markup that CTAs have because they shouldn't visually look
   # like a "CTA". So, we should create a generic `<button>` component that
   # simply accepts a class and some aria attributes, but none of the
   # data-attributes that CTAs need to support their styling #}
  {# @LINK: https://yaleits.atlassian.net/browse/YALB-474 #}
  {% include "@atoms/buttons/button.twig" with {
    button__content: accordion__item__cta__content,
    button__base_class: 'toggle',
    button__blockname: accordion__item__base_class,
    button__attributes: {
      aria_expanded: 'true',
    }
  } %}
{% endset %}

<div {{ add_attributes(accordion__item__attributes) }} >
  {% include "@atoms/text/headings/heading.twig" with {
    heading__level: accordion__item__heading__level|default('2'),
    heading__blockname: accordion__item__base_class,
    heading: accordion__item__heading__content,
  } %}
  <div {{ bem('content', [], accordion__item__base_class) }}>
    {% block accordion__item__content %}
      {% include "@atoms/text/text.twig" with {
        text_field__content: accordion__item__content,
      } %}
    {% endblock %}
  </div>
</div>
