@use "../../00-base/00-defaults/01-variables" as *;
@use "../../00-base/00-defaults/03-mixins" as *;
@use "../../00-base/01-colors/colors" as *;

// The accordion group.
.accordion {
  padding-block: $space;
}

.accordion__controls {
  @include list-reset;

  display: flex;
}

.accordion__controls__item {
  &:not(:last-child) {
    padding-right: $space;
    margin-right: $space;
    border-right: 1px solid;
  }
}

.accordion-item__toggle {
  display: flex;
  gap: $space;
  align-items: center;

  &:hover {
    color: clr(primary);
  }
}

.accordion__toggle-all {
  display: flex;
  gap: $space;
  align-items: center;

  &:hover {
    color: clr(primary);
  }
}

.accordion__icon {
  height: $space;
  width: $space;
  pointer-events: none;

  .accordion__toggle-all--collapse & {
    transform: rotate(180deg);
  }
}

// Individual accordion items.
.accordion-item {
  border-bottom: 1px solid;
  padding-top: $space;
}

.accordion-item__heading {
  display: flex;
  margin-bottom: $space;
}

.accordion-item__icon {
  height: $space;
  width: $space;

  [aria-expanded="true"] > & {
    transform: rotate(180deg);
  }
}

.accordion-item__content {
  overflow: hidden;

  [data-accordion-expanded="true"] & {
    margin-bottom: $space;
  }

  [data-accordion-expanded="false"] & {
    max-height: 0;
  }
}
