{% set accordion__base_class = accordion__base_class|default('accordion') %}
{% set accordion__blockname = accordion__blockname|default('accordion') %}
{% set accordion__modifiers = accordion__modifiers|default([]) %}
{% set accordion__layout = accordion__layout|default(['expand']) %}

{% set accordion__attributes = accordion__attributes|default({
  'class': bem(accordion__base_class, accordion__blockname, accordion__modifiers),
}) %}

<div {{ add_attributes(accordion__attributes) }}>
  {% for item in items %}
    {% include "@atoms/disclosure/disclosure.twig" with {
      disclosure__blockname: accordion__blockname,
      disclosure_summary: item.summary,
      disclosure_content: item.content,
      disclosure__layout: accordion__layout,
    } %}
  {% endfor %}
</div>
