.table {
  border: 1px solid clr(highlight-high);
  border-spacing: 0;
  background-color: clr(muted);
  margin: $space 0;
  width: 100%;
}

@mixin table-cell-base {
  border: 0;
  border-bottom: 1px solid clr(highlight-high);
  border-right: 1px solid clr(highlight-high);
  padding: $space;

  :last-child > & {
    border-bottom: 0;
  }
}

.table__heading-cell,
.table__cell {
  @include table-cell-base;
}

.table__heading-cell {
  color: clr(accent-high);
  padding: $space;
}

.table__row {
  &:nth-child(odd) {
    background-color: clr(background);
  }
}

.table__footer-cell,
.table__footer-cell:first-child {
  border-bottom: 0;
}

.text-long {
  table {
    @extend .table;
  }

  th {
    @extend .table__heading-cell;
  }

  td {
    @extend .table__cell;
  }

  tr {
    @extend .table__row;
  }

  tfoot th {
    @extend .table__footer-cell;
  }
}
