ul {
  @include list-reset;

  list-style-type: disc;
}

ol {
  @include list-reset;

  list-style-type: decimal;
}

.text-field {
  li {
    padding-left: $space;
  }
}

.inline {
  list-style-type: none;
}

.inline__item {
  display: inline-block;
}
