@use "../../00-base/00-defaults/01-variables" as *;
@use "../../00-base/01-colors/colors" as *;

.cta {
  background-color: clr(neutral, n100);
  padding: $space-triple;
  text-align: center;
  text-transform: uppercase;
}
