.cta {
  background-color: clr(background-section);
  padding: $space-triple;
  text-align: center;
  border-radius: clamp(0.25rem, var(--border-radius, 0) / 2, 3rem);
}

.cta__heading {
  text-transform: uppercase;
}
