{#
/**
 * Available variables:
 * - text_with_media__base_class - the base classname
 * - text_with_media__modifiers - array of modifiers to add to the base classname
 * - text_with_media__blockname - blockname prepended to the base classname
 * - text_with_media__content - the content of the text_with_media (typically text and media)
 *
 * Available blocks:
 * - text_with_media__content - used to replace the content of the text_with_media with something other than plain text
 *   for example: A formatted text field in Drupal
 * - text_with_media__group - used to replace the content of the text_with_media with videos/images/media
 */
#}

{% set text_with_media__base_class = 'text-with-media' %}

{% set text_with_media__attributes = {
  'data-image-position': text_with_media__position|default('image-left'),
  'class': bem(text_with_media__base_class, text_with_media__modifiers, text_with_media__blockname)
} %}

<div {{ add_attributes(text_with_media__attributes) }}>
  <div {{ bem('inner', [], text_with_media__base_class) }}>
    {# Content #}
    {% block text_with_media__content %}
      <div {{ bem('content', [], text_with_media__base_class) }}>
        {# Text #}
        {% include "@atoms/text/text/01-paragraph.twig" with {
          paragraph__content: text_with_media__content, 
        } %}
      {# Media #}
        <div {{ bem('media', text_with_media__modifiers, text_with_media__base_class) }}>
          {% block text_with_media__group %}
            {% include "@atoms/images/image/_image.twig" %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
  </div>
</div>

        