@use "colors-used" as *;
@use "../00-defaults/01-variables" as *;

// These styles only affect the colors "Usage" page in the component library
.cl-colors__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 space(2);
}

.cl-colors__item {
  display: flex;
  flex-direction: column;
  padding: $space;
  max-width: 13rem;
  font-size: $space;
  list-style: none;
}

.cl-colors__title {
  font-weight: bold;
  margin: $space 0 0;
}

.cl-colors__swatch {
  display: block;
  width: 11rem;
  height: 6rem;
  border: 2px solid;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.27);
}

// Dynamically set swatch text color based on the lightness of the background color
@function set-color(
  $color,
  $text-primary: accent-high,
  $text-secondary: muted
) {
  @if (lightness($color) > 50) {
    @return clr($text-primary);
  } @else {
    @return clr($text-secondary);
  }
}

// Style default color swatches
@each $name, $color in $default-colors {
  .cl-colors__item--default {
    &-#{$name} .cl-colors__swatch {
      background-color: clr($name);
    }
  }
}

// Style dark color swatches
@each $name, $color in $dark-colors {
  .cl-colors__item--dark {
    &-#{$name} .cl-colors__swatch {
      background-color: clr($name);
    }
  }
}
