// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Grayscale
$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #888;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$gray-darkest: #222;
$black: black;

// Status
$yellow: #ecef26;
$yellow-light: #f6f886;
$red: #ca242c;
$red-light: #fcd0d2;
$green: #278002;
$green-light: #a6eb89;

// Project
$purple: #5c0a5d;
$purple-light: #912892;
$blue: #0852ba;
$blue-light: #61a0f7;
