/*
 * General Layout
*/
.main {
  @include wrapper;

  display: grid;
  grid-template-areas:
    'sidebar'
    'content';
  margin-bottom: 4em;

  &--with-sidebar {
    @include breakpoint($large-max) {
      row-gap: var(--page-gutter, var(--grid-gutter));
    }

    @include breakpoint($large) {
      grid-template-areas: 'content sidebar';
      grid-template-columns: 1fr var(--sidebar-width, 30%);
      column-gap: var(--page-gutter, var(--grid-gutter));
    }
  }
}

.main-sidebar {
  grid-area: sidebar;
}

.main-content {
  grid-area: content;
  width: 100%;
}
