@use "../../00-base/00-defaults/01-variables" as *;
@use "../../00-base/00-defaults/02-breakpoints" as *;
@use "../../00-base/00-defaults/03-mixins" as *;
@use "../../00-base/01-colors/colors" as *;

.pager {
  margin: $space-double 0;
}

.pager__items {
  @include list-reset;

  text-align: center;
}

.pager__item {
  display: inline-block;
  margin: 0 0.2em;

  @include breakpoint("large") {
    margin: 0 $space-one-half;
  }
}

.pager__link {
  padding: $space-one-half;
  color: clr(text);
  text-decoration: none;

  &.is-active,
  &:hover,
  &:focus {
    background-color: clr(text);
    color: clr(text, inverse);
  }

  &.is-active:hover,
  &.is-active:focus {
    background-color: clr(accent);
  }
}

.pager__link--next,
.pager__link--prev,
.pager__link--first,
.pager__link--last {
  display: block;
  padding: 0;

  &:hover,
  &:focus {
    background-color: transparent;
    color: clr(accent);
  }
}
